<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Business promotion - Pricing</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/3.0.1/modern-normalize.min.css"
      integrity="sha512-q6WgHqiHlKyOqslT/lgBgodhd03Wp4BEqKeW6nNtlOY4quzyG3VoQKFrieaCeSnuVseNKRGpGeDU3qPmabCANg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="preconnect"
      href="https://fonts.googleapis.com"
    />
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@500&family=Inter:opsz,wght@14..32,500;700&family=Montserrat:wght@400;500;600;700&family=Poppins:wght@400;500;600;700;800&family=Roboto:wght@400;500;700;900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <%- include('../../partials/header') %>

    <main>
      <h1 class="title-pricing">PRICING</h1>
      <h2 class="under-title-pricing">
        Let’s get some real work done here.
      </h2>
      <p class="text-pricing">
        Prodict is your perfect solution for working. Get
        started now for free
      </p>
      <%- include('../../partials/price') %>
      <%-include('./sections/enterpreneur') %>
      <%-include('./sections/product-usage') %>
      <%-include('./sections/faq') %>
      <%-include('../../partials/compannies') %>
    </main>
    <%- include('../../partials/footer') %>
    <%-include('../../partials/backdrop') %> <%-
    include('../../partials/mobile-menu') %>
    <script src="/assets/js/auth-modal.js" defer></script>
  </body>
</html>
